/* Box Model Hack */
* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;;
}
html {
  font-size: 65.2%;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* HEADER STYLES
/*******************************************/

header {
  width: 100vw;
  margin: 1rem;
  background-color: aliceblue;
  border: solid 5px black;
  font-size: 1.5rem;
}
.circle {
  background-color: black;
  color:azure;
  border-radius: 15px 25px 15px 25px;
  margin-bottom: 20px;
  padding: 0 20px;
}


nav {
  display: flex;
  width: 100%;
  height: 80px;
}
.logo, .container {
  width: 100%;
  display: flex;
  align-items: center;
}
.logo {
  width: 20%;
  font-size: 2.2rem;
}
.container {
  width: 80%;
  justify-content:space-evenly;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
  width: 100%;
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/




/*Footer begins here*/

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
@media all and (max-width: 820px) {

}
